127.0.0.1 localhost
::1   localhost ip6-localhost ip6-loopback
fe00::0   ip6-localnet
ff00::0   ip6-mcastprefix
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters

127.0.1.1 {{ dramble_hostname }}

{{ groups.pis[0] }} pidramble.com www.pidramble.com bal1.pidramble.com git.pidramble.com
{{ groups.pis[1] }} www1.pidramble.com
{{ groups.pis[2] }} www2.pidramble.com
{{ groups.pis[3] }} www3.pidramble.com
{{ groups.pis[4] }} www4.pidramble.com
{{ groups.pis[5] }} db1.pidramble.com
